table {
    width: 100%;
}

.edit {
    margin-right: 15px;
}

.edit :hover {
    color: rgba(134, 127, 26, 0.7);
}

.edit>i {
    color: rgb(217, 205, 38);
}

.delete>i {
    color: rgb(227, 94, 107);
}

.delete :hover {
    color: rgba(227, 94, 107, 0.7);
}