.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    /*justify-content: flex-end; -> é pra alinhar um texto da direita*/
    justify-content: flex-end;
}

.footer span {
    /*font-weight: 300; -> define o peso da fonte(light, regular, bold)*/
    font-weight: 300;
    font-size: 1.1rem;
}